@page
@model npresume2.Pages.AboutmeModel
@{
}

<div class="hobbies">
    <H1>My hobbies</H1>
  </div>

      <div class="section_area_grid2">

        <div class="section_grid_item2">
          <div class="section_item_img2">
            <br><p><a href="https://www.youtube.com/embed/FNA2Sjkm1lo"><button class="btn btn1">Gymkhana Event</button></a></p>
            <iframe src="https://www.youtube.com/embed/FNA2Sjkm1lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="section_item_text2">
                  <p><br>This one of my really fun hobby to do.
                  <br>It's a Motorcycle Gymkhana Event.
                  </p>
            </div>
          </div>
        </div>

        <div class="section_grid_item2">
          <div class="section_item_img2">
            <br><p><a href="https://www.youtube.com/embed/VeRO1yF1SHU"><button class="btn btn1">Gymkhana Training</button></a></p>
            <iframe src="https://www.youtube.com/embed/VeRO1yF1SHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="section_item_text2">
                  <p><br>
                    I always try to keep practicing all the time if I have time.
                  </p>
            </div>
          </div>
        </div>

        <div class="section_grid_item2">
          <div class="section_item_img2">
            <br><p><a href="https://www.youtube.com/embed/F1_SPt_XbQk"><button class="btn btn1">Travel and Chilling</button></a></p>
            <iframe src="https://www.youtube.com/embed/F1_SPt_XbQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="section_item_text2">
                  <p><br>Some time I just go chilling on the motorcycle with friends.
                  </p>
            </div>
          </div>
        </div>

        <div class="section_grid_item2">
          <div class="section_item_img2">
            <br><p><a href="https://www.youtube.com/embed/ciVwegjbkRY"><button class="btn btn1">Demo Ride</button></a></p>
            <iframe src="https://www.youtube.com/embed/ciVwegjbkRY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="section_item_text2">
                  <p><br>The demo day event is one of the interesting thing for almost every biker.
                  </p>
            </div>
          </div>
        </div>

        <div class="section_grid_item2">
          <div class="section_item_img2">
            <br><p><a href="https://www.youtube.com/embed/ssjOfJaDi5w"><button class="btn btn1">Gaming</button></a></p>
            <iframe src="https://www.youtube.com/embed/ssjOfJaDi5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="section_item_text2">
                  <p><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I like to play many kind of game. But Assetto Corsa is the very often that I like to play.
                    <br>It's a car game with best car physic and a lot of mod. And I also like to make a video out of it.
                  </p>
            </div>
          </div>
        </div>

    </div>