* {
    color: white;
}

.hobbies h1 {
    text-align: center;
    justify-items: center;
}

.section_area_grid2 {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-gap: 50px;*/
    justify-items: center;
}

.section_grid_item2 {
    
    border-radius: 6px;
    padding: 5%;
    justify-items: center;
}

.section_item_img2 iframe {
    width: 840px;
    height: 480px;
    justify-items: center;
    display: inline-block;
    border-radius: 20px;
}

.section_item_text2 p {
    text-align: center;
    justify-items: center;
    font-size: 25px;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: rgb(90, 90, 90);
    border: 3px solid rgb(90, 90, 90);
    border-radius: 10px;
    font-family: fantasy;
    padding: 12px 20px;
    min-width: 200px;
    justify-items: center;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    font-size: 25px;
}

.btn:hover {
    color: rgb(90, 90, 90);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 85, 255);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0.0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btn1::before {
    transform: scaleX(0);
}

.btn2::before {
    transform: scaleY(0);
}

.btn1:hover:before {
    transform: scaleX(1);
}

.btn2:hover:before {
    transform: scaleY(1);
}