@page
@model npresume2.Pages.GalleryModel
@{
}

<div class="galleryheader">
    <H1>My Gallery</H1>
  </div>

<div class="galleries">
    <div class="galleryContainer">
        <div class="gallery">

            <input type="radio" name="control" id="c1" checked />
            <img src="img/pf01.jpg" id="i1" class="galleryImg" />

            <input type="radio" name="control" id="c2" checked />
            <img src="img/pf02.jpg" id="i2" class="galleryImg" />

            <input type="radio" name="control" id="c3" checked />
            <img src="img/pf03.jpg" id="i3" class="galleryImg" />

            <input type="radio" name="control" id="c4" checked />
            <img src="img/pf04.jpg" id="i4" class="galleryImg" />

            <input type="radio" name="control" id="c5" checked />
            <img src="img/pf05.jpg" id="i5" class="galleryImg" />

            <input type="radio" name="control" id="c6" checked />
            <img src="img/pf06.jpg" id="i6" class="galleryImg" />

            <input type="radio" name="control" id="c7" checked />
            <img src="img/pf07.jpg" id="i7" class="galleryImg" />

            <input type="radio" name="control" id="c8" checked />
            <img src="img/pf08.jpg" id="i8" class="galleryImg" />
        </div>

        <div class="thumbnails">

            <label class="thumbnailsImg" for="c1">
                <img src="img/pf01.jpg" />
            </label>

            <label class="thumbnailsImg" for="c2">
                <img src="img/pf02.jpg" />
            </label>

            <label class="thumbnailsImg" for="c3">
                <img src="img/pf03.jpg" />
            </label>

            <label class="thumbnailsImg" for="c4">
                <img src="img/pf04.jpg" />
            </label>

            <label class="thumbnailsImg" for="c5">
                <img src="img/pf05.jpg" />
            </label>

            <label class="thumbnailsImg" for="c6">
                <img src="img/pf06.jpg" />
            </label>

            <label class="thumbnailsImg" for="c7">
                <img src="img/pf07.jpg" />
            </label>

            <label class="thumbnailsImg" for="c8">
                <img src="img/pf08.jpg" />
            </label>

        </div>

    </div>
</div>