@page
@model npresume2.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="video1">
        <div class="hpvl">
            <button class="btn btn1"><H1>Welcome to my world</H1></button>
            <iframe width="699" height="393" src="https://www.youtube.com/embed/Wsxqq5gPeMI" 
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <p><br><br></p>
          </div>
    </div>
</div>