@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="indexenter">
    <a class="nav-link text-dark" asp-area="" asp-page="/Home"><img src="img/nplogo.png" alt=""></a>
    <!--<a class="nav-link text-dark" asp-area="" asp-page="/Home"><button><p>Enter Site</p></button></a>-->
</div>
